<!DOCTYPE html>
<html lang="en" dir="ltr">
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <head>
    <title>Home - sohamsahare</title>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/loader') %>
    <%- include('partials/navbar') %>
    <%- include('partials/header') %>

    <main id="ss-mxd-page-content" class="ss-mxd-page-content">
      <div class="ss-mxd-section">
        <div class="ss-mxd-hero-09">
          <div class="ss-mxd-hero-09__wrap loading-wrap">
            <div class="ss-mxd-hero-09__headline">
              <div class="hero-09-headline__caption loading__item">
                <p>I Love to build things that live on the internet.</p>
              </div>
              <div class="hero-09-headline__title loading__item">
                <h1 class="hero-09-headline__hidden">Alex Walker</h1>
                <svg class="hero-09-svg-mobile" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  viewBox="0 0 153.2 74.1" style="enable-background:new 0 0 153.2 74.1;" xml:space="preserve">
                  <path d="m 13.292457,34.418224 q -5.133337,0 -8.1277835,-2.13889 -2.9555576,-2.177779 -3.188891,-6.066671 h 6.2222264 q 0.3111113,1.672223 1.5944455,2.488891 1.3222236,0.816667 3.7722246,0.816667 4.005559,0 4.005559,-2.216668 0,-0.894445 -0.622223,-1.400001 -0.583334,-0.544445 -1.983335,-0.816668 L 9.7535655,24.073773 q -7.0000047,-1.361112 -7.0000047,-6.572227 0,-3.344447 2.6833351,-5.327781 2.6833352,-2.022224 7.4277831,-2.022224 4.705559,0 7.466672,2.061112 2.761113,2.061113 3.033335,5.75556 H 17.142459 Q 16.714681,16.334878 15.625792,15.595989 14.536902,14.8571 12.47579,14.8571 q -1.788891,0 -2.7222245,0.544445 -0.9333339,0.505555 -0.9333339,1.555556 0,0.73889 0.5833337,1.244445 0.5833337,0.505556 1.7888897,0.73889 l 5.327782,1.011112 q 3.655558,0.738889 5.36667,2.372223 1.711112,1.633335 1.711112,4.433337 0,3.616669 -2.683335,5.638893 -2.644446,2.022223 -7.622227,2.022223 z m 25.23891,0 q -3.811114,0 -6.650004,-1.477779 -2.800002,-1.516667 -4.355559,-4.238891 -1.555557,-2.722224 -1.555557,-6.45556 0,-3.694447 1.516668,-6.416671 1.555557,-2.722224 4.394448,-4.200003 2.83889,-1.477779 6.688893,-1.477779 3.811114,0 6.611116,1.477779 2.800002,1.477779 4.316669,4.200003 1.516668,2.722224 1.516668,6.45556 0,3.694447 -1.516668,6.455559 -1.516667,2.722225 -4.355558,4.200003 -2.800002,1.477779 -6.611116,1.477779 z m 0,-5.600004 q 2.916669,0 4.472225,-1.750001 1.555557,-1.78889 1.555557,-4.822225 0,-3.033336 -1.555557,-4.744448 -1.555556,-1.750001 -4.472225,-1.750001 -2.955557,0 -4.550003,1.750001 -1.555557,1.711112 -1.555557,4.744448 0,3.033335 1.555557,4.822225 1.594446,1.750001 4.550003,1.750001 z m 16.29448,5.133337 V 1.2848682 h 6.45556 V 13.962655 h 0.155556 q 1.127778,-1.866668 3.033335,-2.800002 1.905557,-0.972223 4.511114,-0.972223 4.394448,0 6.961116,2.683335 2.605558,2.644446 2.605558,7.116672 v 13.96112 h -6.45556 V 21.195993 q 0,-2.566669 -1.400001,-3.888892 -1.361112,-1.361112 -4.005559,-1.361112 -2.644446,0 -4.044447,1.361112 -1.361112,1.322223 -1.361112,3.888892 v 12.755564 z m 36.205554,0.427778 q -4.122225,0 -6.45556,-1.983334 -2.333335,-2.022224 -2.333335,-5.288893 0,-3.461113 2.411113,-5.327781 2.411113,-1.866668 6.922227,-1.866668 h 6.688893 v -0.894445 q 0,-3.772225 -4.511114,-3.772225 -3.92778,0 -4.744448,2.722224 h -6.416671 q 0.777779,-3.850003 3.61667,-5.833337 2.83889,-1.983335 7.544449,-1.983335 5.211115,0 7.933335,2.333335 2.76112,2.333335 2.76112,6.80556 v 8.283339 h 3.03333 v 6.377782 h -6.53334 v -3.811114 h -1.63333 q -1.205556,2.022224 -3.22778,3.150003 -2.022224,1.088889 -5.055559,1.088889 z m 0.972223,-4.900003 q 1.827779,0 3.22778,-0.661112 1.400001,-0.661111 2.216668,-1.750001 0.816667,-1.127778 0.816667,-2.527779 v -0.350001 h -6.377782 q -3.500002,0 -3.500002,2.605558 0,1.283334 0.972223,1.983334 0.972223,0.700001 2.644446,0.700001 z m 19.988936,4.472225 V 16.99599 h -3.18889 v -6.377782 h 6.53334 v 3.811114 h 1.71111 q 1.24445,-2.022224 3.22778,-3.111114 1.98334,-1.127778 4.90001,-1.127778 2.8,0 4.78333,1.011112 2.02223,0.972223 3.22778,2.916668 h 0.15556 q 2.68333,-3.92778 7.97223,-3.92778 4.51111,0 7.15556,2.644446 2.64444,2.605557 2.64444,7.077783 v 14.038898 h -6.45556 V 21.157104 q 0,-5.211115 -4.93889,-5.211115 -4.93889,0 -4.93889,5.211115 v 12.794453 h -6.45556 V 21.157104 q 0,-5.211115 -5.01667,-5.211115 -2.41111,0 -3.65556,1.283335 -1.20556,1.283334 -1.20556,3.92778 v 12.794453 z"/>
                  <path
                    d="m 13.370207,71.751583 q -5.1333371,0 -8.1277835,-2.13889 -2.9555576,-2.177779 -3.1888911,-6.066671 h 6.2222265 q 0.3111113,1.672224 1.5944455,2.488891 1.3222236,0.816667 3.7722246,0.816667 4.005558,0 4.005558,-2.216668 0,-0.894445 -0.622222,-1.400001 -0.583334,-0.544445 -1.983335,-0.816667 L 9.8313155,61.407132 Q 2.8313107,60.04602 2.8313107,54.834905 q 0,-3.344446 2.6833352,-5.327781 Q 8.197981,47.4849 12.942429,47.4849 q 4.705558,0 7.466671,2.061113 2.761113,2.061112 3.033336,5.755559 h -6.222227 q -0.427778,-1.633334 -1.516667,-2.372224 -1.08889,-0.738889 -3.150002,-0.738889 -1.788891,0 -2.7222245,0.544445 -0.933334,0.505556 -0.933334,1.555556 0,0.73889 0.5833337,1.244446 0.5833338,0.505556 1.7888898,0.738889 l 5.327782,1.011112 q 3.655558,0.738889 5.36667,2.372224 1.711112,1.633334 1.711112,4.433336 0,3.616669 -2.683335,5.638893 -2.644446,2.022223 -7.622227,2.022223 z m 21.505574,-0.03889 q -4.122225,0 -6.45556,-1.983335 -2.333335,-2.022224 -2.333335,-5.288893 0,-3.461113 2.411113,-5.327781 2.411113,-1.866668 6.922227,-1.866668 h 6.688893 v -0.894445 q 0,-3.772225 -4.511114,-3.772225 -3.92778,0 -4.744447,2.722224 h -6.416671 q 0.777778,-3.850002 3.616669,-5.833337 2.83889,-1.983335 7.544449,-1.983335 5.211115,0 7.933339,2.333335 2.761113,2.333335 2.761113,6.80556 v 8.283339 h 3.033335 v 6.377782 H 44.792455 V 67.473803 H 43.15912 q -1.205556,2.022223 -3.22778,3.150002 -2.022223,1.08889 -5.055559,1.08889 z m 0.972223,-4.900004 q 1.827779,0 3.22778,-0.661111 1.400001,-0.661112 2.216668,-1.750002 0.816667,-1.127778 0.816667,-2.527779 v -0.35 h -6.377782 q -3.500002,0 -3.500002,2.605557 0,1.283334 0.972223,1.983335 0.972223,0.7 2.644446,0.7 z m 19.366682,4.472225 V 38.618228 h 6.45556 v 12.677786 h 0.155555 q 1.127779,-1.866668 3.033336,-2.800002 1.905557,-0.972223 4.511114,-0.972223 4.394447,0 6.961116,2.683335 2.605557,2.644447 2.605557,7.116672 v 13.96112 h -6.45556 V 58.529352 q 0,-2.566668 -1.400001,-3.888891 -1.361112,-1.361112 -4.005558,-1.361112 -2.644446,0 -4.044447,1.361112 -1.361112,1.322223 -1.361112,3.888891 v 12.755564 z m 36.205554,0.427779 q -4.122226,0 -6.45556,-1.983335 -2.333335,-2.022224 -2.333335,-5.288893 0,-3.461113 2.411112,-5.327781 2.411113,-1.866668 6.922227,-1.866668 h 6.688894 v -0.894445 q 0,-3.772225 -4.511114,-3.772225 -3.927781,0 -4.744448,2.722224 h -6.416671 q 0.777778,-3.850002 3.616669,-5.833337 2.838891,-1.983335 7.54445,-1.983335 5.211114,0 7.933336,2.333335 2.76112,2.333335 2.76112,6.80556 v 8.283339 h 3.03333 v 6.377782 h -6.53334 v -3.811113 h -1.633331 q -1.205557,2.022223 -3.22778,3.150002 -2.022224,1.08889 -5.055559,1.08889 z m 0.972222,-4.900004 q 1.827779,0 3.22778,-0.661111 1.400001,-0.661112 2.216669,-1.750002 0.816667,-1.127778 0.816667,-2.527779 v -0.35 h -6.377782 q -3.500003,0 -3.500003,2.605557 0,1.283334 0.972223,1.983335 0.972223,0.7 2.644446,0.7 z M 112.7314,71.284916 V 54.329349 h -3.18889 v -6.377782 h 6.53334 v 4.588892 h 1.63333 q 0.93334,-2.450001 2.95556,-3.655558 2.02223,-1.205556 4.55,-1.205556 h 1.98334 v 5.600004 h -2.25556 q -3.03333,0 -4.47222,1.711112 -1.4,1.711112 -1.4,4.511114 v 11.783341 z m 27.92226,0.466667 q -3.77223,0 -6.57223,-1.477778 -2.8,-1.516668 -4.31667,-4.238892 -1.51666,-2.761113 -1.51666,-6.494449 0,-3.733336 1.47777,-6.416671 1.47778,-2.722224 4.20001,-4.161114 2.76111,-1.477779 6.49445,-1.477779 3.65555,0 6.26111,1.400001 2.64445,1.400001 4.04445,4.005559 1.4,2.605557 1.4,6.222226 v 2.177779 h -17.69446 q 0.38889,2.605558 1.98334,3.96667 1.59444,1.361112 4.2,1.361112 2.06111,0 3.26667,-0.700001 1.20556,-0.7 1.71111,-2.13889 h 6.45556 q -0.77778,3.733336 -3.77222,5.872226 -2.99445,2.100001 -7.62223,2.100001 z m -6.06667,-14.738898 h 11.35556 q -0.31111,-2.216669 -1.71111,-3.305558 -1.4,-1.127779 -3.77223,-1.127779 -2.37222,0 -3.88889,1.127779 -1.47778,1.127778 -1.98333,3.305558 z"
                    id="path3" />
                </svg>
                <svg class="hero-09-svg-desktop" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  viewBox="0 0 257.3 34.1" style="enable-background:new 0 0 257.3 34.1;" xml:space="preserve">
                  <path d="m 13.035524,29.173098 q -4.1066633,0 -6.5022168,-1.71111 -2.3644424,-1.742221 -2.5511089,-4.853329 h 4.9777735 q 0.2488887,1.337776 1.2755542,1.991109 1.057777,0.653333 3.017775,0.653333 3.204442,0 3.204442,-1.773332 0,-0.715555 -0.497777,-1.119999 Q 15.4933,21.924215 14.373301,21.706437 L 10.204415,20.897549 Q 4.60442,19.808661 4.60442,15.639776 q 0,-2.675553 2.1466648,-4.262219 2.1466648,-1.6177762 5.9422172,-1.6177762 3.764441,0 5.973328,1.6488872 2.208887,1.648888 2.426665,4.604441 h -4.977774 q -0.342222,-1.306666 -1.213332,-1.897776 -0.87111,-0.591111 -2.519998,-0.591111 -1.43111,0 -2.177776,0.435555 -0.7466658,0.404444 -0.7466658,1.244444 0,0.59111 0.4666662,0.995554 0.4666666,0.404444 1.4311096,0.591111 l 4.262219,0.808888 q 2.924442,0.591111 4.29333,1.897776 1.368887,1.306666 1.368887,3.546664 0,2.893331 -2.146665,4.511107 -2.115553,1.617777 -6.097772,1.617777 z m 20.191098,0 q -3.048886,0 -5.319995,-1.182222 -2.239998,-1.213332 -3.484442,-3.391108 -1.244443,-2.177776 -1.244443,-5.16444 0,-2.955553 1.213332,-5.133329 1.244444,-2.177776 3.515553,-3.359997 2.271109,-1.1822212 5.351106,-1.1822212 3.048887,0 5.288885,1.1822212 2.239998,1.182221 3.45333,3.359997 1.213332,2.177776 1.213332,5.16444 0,2.955553 -1.213332,5.16444 -1.213332,2.177776 -3.484441,3.359997 -2.239999,1.182222 -5.288885,1.182222 z m 0,-4.479997 q 2.333332,0 3.577775,-1.399998 1.244443,-1.43111 1.244443,-3.857775 0,-2.426664 -1.244443,-3.795552 -1.244443,-1.399999 -3.577775,-1.399999 -2.364442,0 -3.639997,1.399999 -1.244443,1.368888 -1.244443,3.795552 0,2.426665 1.244443,3.857775 1.275555,1.399998 3.639997,1.399998 z m 13.035563,4.106664 V 2.6664536 h 5.16444 V 12.808667 h 0.124444 q 0.902222,-1.493332 2.426665,-2.239998 1.524443,-0.7777771 3.608886,-0.7777771 3.515552,0 5.568884,2.1466651 2.084442,2.115554 2.084442,5.693328 v 11.16888 h -5.16444 V 18.595329 q 0,-2.053332 -1.119999,-3.111109 -1.088888,-1.088888 -3.204441,-1.088888 -2.115554,0 -3.235553,1.088888 -1.088888,1.057777 -1.088888,3.111109 v 10.204436 z m 28.964397,0.342222 q -3.297775,0 -5.16444,-1.586666 -1.866665,-1.617776 -1.866665,-4.231107 0,-2.768887 1.928887,-4.262219 1.928887,-1.493332 5.537773,-1.493332 h 5.351107 v -0.715555 q 0,-3.017775 -3.608886,-3.017775 -3.14222,0 -3.795553,2.177776 h -5.133329 q 0.622222,-3.079998 2.893331,-4.666663 2.27111,-1.5866652 6.035551,-1.5866652 4.168885,0 6.346661,1.8666652 2.208887,1.866665 2.208887,5.44444 v 6.626661 h 2.426665 v 5.102218 h -5.226663 v -3.048887 h -1.306665 q -0.964444,1.617777 -2.58222,2.519998 -1.617777,0.871111 -4.044441,0.871111 z m 0.777777,-3.919997 q 1.462221,0 2.58222,-0.528889 1.119999,-0.528888 1.773332,-1.399998 0.653333,-0.902222 0.653333,-2.022221 v -0.28 h -5.102218 q -2.799998,0 -2.799998,2.084443 0,1.026666 0.777777,1.586665 0.777777,0.56 2.115554,0.56 z m 15.991124,3.577775 V 15.235332 h -2.551109 v -5.102218 h 5.226662 V 13.182 h 1.368888 q 0.995555,-1.617776 2.58222,-2.488887 1.586666,-0.9022211 3.919996,-0.9022211 2.24,0 3.82666,0.8088881 1.61778,0.777777 2.58222,2.333331 h 0.12445 q 2.14666,-3.1422191 6.37777,-3.1422191 3.60889,0 5.72444,2.1155541 2.11555,2.084442 2.11555,5.662217 v 11.231102 h -5.16444 V 18.564218 q 0,-4.168886 -3.9511,-4.168886 -3.95111,0 -3.95111,4.168886 v 10.235547 h -5.16444 V 18.564218 q 0,-4.168886 -4.01333,-4.168886 -1.928889,0 -2.924443,1.026666 -0.964444,1.026666 -0.964444,3.14222 v 10.235547 z m 52.266577,0.373333 q -4.10667,0 -6.50222,-1.71111 -2.36444,-1.742221 -2.55111,-4.853329 h 4.97777 q 0.24889,1.337776 1.27556,1.991109 1.05778,0.653333 3.01777,0.653333 3.20445,0 3.20445,-1.773332 0,-0.715555 -0.49778,-1.119999 -0.46667,-0.435555 -1.58667,-0.653333 l -4.16888,-0.808888 q -5.6,-1.088888 -5.6,-5.257773 0,-2.675553 2.14667,-4.262219 2.14666,-1.6177762 5.94221,-1.6177762 3.76445,0 5.97333,1.6488872 2.20889,1.648888 2.42667,4.604441 h -4.97778 q -0.34222,-1.306666 -1.21333,-1.897776 -0.87111,-0.591111 -2.52,-0.591111 -1.43111,0 -2.17777,0.435555 -0.74667,0.404444 -0.74667,1.244444 0,0.59111 0.46667,0.995554 0.46666,0.404444 1.43111,0.591111 l 4.26222,0.808888 q 2.92444,0.591111 4.29333,1.897776 1.36888,1.306666 1.36888,3.546664 0,2.893331 -2.14666,4.511107 -2.11556,1.617777 -6.09777,1.617777 z m 17.20444,-0.03111 q -3.29778,0 -5.16444,-1.586666 -1.86667,-1.617776 -1.86667,-4.231107 0,-2.768887 1.92889,-4.262219 1.92889,-1.493332 5.53777,-1.493332 h 5.35111 v -0.715555 q 0,-3.017775 -3.60889,-3.017775 -3.14222,0 -3.79555,2.177776 h -5.13333 q 0.62222,-3.079998 2.89333,-4.666663 2.27111,-1.5866652 6.03555,-1.5866652 4.16889,0 6.34666,1.8666652 2.20889,1.866665 2.20889,5.44444 v 6.626661 h 2.42666 v 5.102218 h -5.22666 v -3.048887 h -1.30666 q -0.96445,1.617777 -2.58222,2.519998 -1.61778,0.871111 -4.04444,0.871111 z m 0.77777,-3.919997 q 1.46222,0 2.58222,-0.528889 1.12,-0.528888 1.77333,-1.399998 0.65334,-0.902222 0.65334,-2.022221 v -0.28 h -5.10222 q -2.8,0 -2.8,2.084443 0,1.026666 0.77778,1.586665 0.77778,0.56 2.11555,0.56 z m 15.49332,3.577775 V 2.6664536 h 5.16444 V 12.808667 h 0.12444 q 0.90222,-1.493332 2.42667,-2.239998 1.52444,-0.7777771 3.60888,-0.7777771 3.51555,0 5.56889,2.1466651 2.08444,2.115554 2.08444,5.693328 v 11.16888 h -5.16444 V 18.595329 q 0,-2.053332 -1.12,-3.111109 -1.08889,-1.088888 -3.20444,-1.088888 -2.11556,0 -3.23555,1.088888 -1.08889,1.057777 -1.08889,3.111109 v 10.204436 z m 28.96439,0.342222 q -3.29777,0 -5.16444,-1.586666 -1.86666,-1.617776 -1.86666,-4.231107 0,-2.768887 1.92889,-4.262219 1.92888,-1.493332 5.53777,-1.493332 h 5.35111 v -0.715555 q 0,-3.017775 -3.60889,-3.017775 -3.14222,0 -3.79555,2.177776 h -5.13333 q 0.62222,-3.079998 2.89333,-4.666663 2.27111,-1.5866652 6.03555,-1.5866652 4.16889,0 6.34666,1.8666652 2.20889,1.866665 2.20889,5.44444 v 6.626661 h 2.42666 v 5.102218 h -5.22666 v -3.048887 h -1.30666 q -0.96445,1.617777 -2.58222,2.519998 -1.61778,0.871111 -4.04445,0.871111 z m 0.77778,-3.919997 q 1.46222,0 2.58222,-0.528889 1.12,-0.528888 1.77333,-1.399998 0.65334,-0.902222 0.65334,-2.022221 v -0.28 h -5.10222 q -2.8,0 -2.8,2.084443 0,1.026666 0.77778,1.586665 0.77778,0.56 2.11555,0.56 z m 16.27113,3.577775 V 15.235332 h -2.55111 v -5.102218 h 5.22666 v 3.671108 h 1.30666 q 0.74667,-1.959998 2.36445,-2.924442 1.61777,-0.9644437 3.63999,-0.9644437 h 1.58667 v 4.4799957 h -1.80444 q -2.42667,0 -3.57778,1.368888 -1.12,1.368888 -1.12,3.608886 v 9.426659 z m 22.33777,0.373333 q -3.01777,0 -5.25777,-1.182222 -2.24,-1.213332 -3.45333,-3.391108 -1.21333,-2.208887 -1.21333,-5.195551 0,-2.986664 1.18222,-5.133329 1.18222,-2.177776 3.36,-3.328886 2.20888,-1.1822212 5.19555,-1.1822212 2.92444,0 5.00888,1.1199992 2.11556,1.119999 3.23556,3.204442 1.11999,2.084442 1.11999,4.977773 v 1.742221 h -14.15554 q 0.31111,2.084443 1.58667,3.173331 1.27555,1.088887 3.35999,1.088887 1.64889,0 2.61333,-0.559999 0.96445,-0.56 1.36889,-1.71111 h 5.16444 q -0.62222,2.986664 -3.01777,4.697774 -2.39556,1.679999 -6.09778,1.679999 z m -4.85332,-11.791101 h 9.08443 q -0.24889,-1.773332 -1.36889,-2.644443 -1.11999,-0.902221 -3.01777,-0.902221 -1.89778,0 -3.11111,0.902221 -1.18222,0.902222 -1.58666,2.644443 z"/>
                </svg>
              </div>
              <div class="hero-09-headline__tags loading__fade">
                <% (skills || []).forEach(function(skill){ %>
                  <span class="tag tag-default tag-outline"><%= skill %></span>
                <% }); %>
              </div>
            </div>
            <div class="ss-mxd-hero-09__objects">
              <div class="hero-09-objects__image loading__item">
                <img class="ss-mxd-move" src="img/hero/22_hero-img.webp" alt="Hero Image">
              </div>
              <div class="hero-09-objects__item item-01 loading__item">
                <div class="ss-mxd-counter horizontal">
                  <p id="stats-counter-1" class="ss-mxd-counter__number ss-mxd-stats-number xsmall">0</p>
                  <p class="ss-mxd-counter__descr t-140 t-bright t-small">Years of<br>experience</p>
                </div>
              </div>
              <div class="hero-09-objects__item item-02 loading__item">
                <div class="ss-mxd-counter horizontal">
                  <p id="stats-counter-2" class="ss-mxd-counter__number ss-mxd-stats-number xsmall">0</p>
                  <p class="ss-mxd-counter__descr t-140 t-bright t-small">Successful<br>projects</p>
                </div>
              </div>
              <div class="hero-09-objects__item item-03 loading__item">
                <div class="ss-mxd-hero__mark">
                  <span class="mark-icon"></span>
                  <span class="mark-text">Available for new opportunities</span>
                </div>
              </div>
            </div>
            <div class="ss-mxd-hero-09__more loading__fade">
              <a class="btn btn-line-default btn-anim slide-down" href="#projects">
              <span class="btn-caption">Scroll for more</span>
              <i class="ph-bold ph-arrow-elbow-right-down"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div id="projects" class="ss-mxd-section padding-hero-09 padding-grid-pre-mtext">
        <div class="ss-mxd-container grid-container">
          <div class="ss-mxd-block">
            <div class="ss-mxd-pinned-projects">
              <div class="container-fluid px-0">
                <div class="row gx-0">
                  <div class="col-12 col-xl-5 ss-mxd-pinned-projects__static">
                    <div class="ss-mxd-pinned-projects__static-inner no-margin">
                      <div class="ss-mxd-section-title no-margin-desktop">
                        <div class="container-fluid p-0">
                          <div class="row g-0">
                            <div class="col-12 ss-mxd-grid-item no-margin">
                              <div class="ss-mxd-section-title__title">
                                <h2 class="h2-large reveal-type">Projects</h2>
                              </div>
                            </div>
                            <div class="col-12 ss-mxd-grid-item no-margin">
                              <div class="ss-mxd-section-title__controls anim-uni-in-up">
                                <a class="btn btn-anim btn-default btn-outline slide-right-up" href="/projects">
                                <span class="btn-caption">See All</span>
                                <i class="ph-bold ph-arrow-up-right"></i>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-xl-7 ss-mxd-pinned-projects__scroll">
                    <div class="ss-mxd-pinned-projects__scroll-inner ss-mxd-grid-item no-margin">
                      <% if (projects.length === 0) { %>
                        <div class="empty-state" style="text-align: center; padding: 4rem 2rem; color: var(--t-muted);">
                          <i class="ph ph-folder-plus" style="font-size: 4rem; margin-bottom: 1rem; color: var(--t-muted-extra);"></i>
                          <h3 style="margin-bottom: 1rem;">Projects Coming Soon</h3>
                          <p>Featured projects will be available soon</p>
                        </div>
                      <% } else { %>
                        <% projects.slice(0, 3).forEach((project, index) => { %>
                        <div class="ss-mxd-project-item">
                          <a class="ss-mxd-project-item__media anim-uni-in-up" href="/projects/<%= project.id %>">
                            <div class="ss-mxd-project-item__preview preview-image-1 parallax-img-small" style="background-image: url('<%= project.images[0] %>');"></div>
                            <div class="ss-mxd-project-item__tags">
                              <% 
                                const tags = Array.isArray(project.tags) ? project.tags : (project.tags ? project.tags.split(',').map(t => t.trim()) : []);
                                tags.slice(0, 3).forEach(tag => { 
                              %>
                                <span class="tag tag-default tag-permanent"><%= tag %></span>
                              <% }); %>
                            </div>
                          </a>
                          <div class="ss-mxd-project-item__promo">
                            <div class="ss-mxd-project-item__name">
                              <a class="anim-uni-in-up" href="/projects/<%= project.id %>"><span><%= project.title %></span> <%= project.description %></a>
                            </div>
                          </div>
                        </div>
                      <% }); %>
                      <% } %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ss-mxd-section padding-mtext-pre-stack">
        <div class="ss-mxd-container fullwidth-container">
          <div class="ss-mxd-block">
            <div class="marquee marquee-right--gsap muted-extra">
              <div class="marquee__toright">
                <div class="marquee__item one-line item-regular text">
                  <p class="marquee__text">What I Can Do</p>
                  <div class="marquee__image">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80" fill="currentColor">
                      <path fill="currentColor" d="M78.4,38.4c0,0-11.8,0-15.8,0c-1.6,0-4.8-0.2-7.1-0.8c-2.3-0.6-4.3-0.8-6.3-2.4c-2-1.2-3.5-3.2-4.7-4.8
                        c-1.2-1.6-1.6-3.6-2-5.5c-0.3-1.5-0.7-4.3-0.8-5.9c-0.2-4.3,0-17.4,0-17.4C41.8,0.8,41,0,40.2,0s-1.6,0.8-1.6,1.6c0,0,0,13.1,0,17.4
                        c0,1.6-0.6,4.3-0.8,5.9c-0.3,2-0.8,4-2,5.5c-1.2,2-2.8,3.6-4.7,4.8s-4,1.8-6.3,2.4c-1.9,0.5-4.7,0.6-6.7,0.8c-3.9,0.4-16.6,0-16.6,0
                        C0.8,38.4,0,39.2,0,40c0,0.8,0.8,1.6,1.6,1.6c0,0,12.2,0,16.6,0c1.6,0,4.8,0.3,6.7,0.8c2.3,0.6,4.3,0.8,6.3,2.4
                        c1.6,1.2,3.2,2.8,4.3,4.4c1.2,2,2.1,3.9,2.4,6.3c0.2,1.7,0.7,4.7,0.8,6.7c0.2,4,0,16.2,0,16.2c0,0.8,0.8,1.6,1.6,1.6
                        s1.6-0.8,1.6-1.6c0,0,0-12.3,0-16.2c0-1.6,0.5-5.1,0.8-6.7c0.5-2.3,0.8-4.4,2.4-6.3c1.2-1.6,2.8-3.2,4.3-4.4c2-1.2,3.9-2,6.3-2.4
                        c1.8-0.3,5.1-0.7,7.1-0.8c3.5-0.2,15.8,0,15.8,0c0.8,0,1.6-0.8,1.6-1.6C80,39.2,79.2,38.4,78.4,38.4C78.4,38.4,78.4,38.4,78.4,38.4z
                        "/>
                    </svg>
                  </div>
                </div>
                <div class="marquee__item one-line item-regular text">
                  <p class="marquee__text">What I Can Do</p>
                  <div class="marquee__image">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80" fill="currentColor">
                      <path fill="currentColor" d="M78.4,38.4c0,0-11.8,0-15.8,0c-1.6,0-4.8-0.2-7.1-0.8c-2.3-0.6-4.3-0.8-6.3-2.4c-2-1.2-3.5-3.2-4.7-4.8
                        c-1.2-1.6-1.6-3.6-2-5.5c-0.3-1.5-0.7-4.3-0.8-5.9c-0.2-4.3,0-17.4,0-17.4C41.8,0.8,41,0,40.2,0s-1.6,0.8-1.6,1.6c0,0,0,13.1,0,17.4
                        c0,1.6-0.6,4.3-0.8,5.9c-0.3,2-0.8,4-2,5.5c-1.2,2-2.8,3.6-4.7,4.8s-4,1.8-6.3,2.4c-1.9,0.5-4.7,0.6-6.7,0.8c-3.9,0.4-16.6,0-16.6,0
                        C0.8,38.4,0,39.2,0,40c0,0.8,0.8,1.6,1.6,1.6c0,0,12.2,0,16.6,0c1.6,0,4.8,0.3,6.7,0.8c2.3,0.6,4.3,0.8,6.3,2.4
                        c1.6,1.2,3.2,2.8,4.3,4.4c1.2,2,2.1,3.9,2.4,6.3c0.2,1.7,0.7,4.7,0.8,6.7c0.2,4,0,16.2,0,16.2c0,0.8,0.8,1.6,1.6,1.6
                        s1.6-0.8,1.6-1.6c0,0,0-12.3,0-16.2c0-1.6,0.5-5.1,0.8-6.7c0.5-2.3,0.8-4.4,2.4-6.3c1.2-1.6,2.8-3.2,4.3-4.4c2-1.2,3.9-2,6.3-2.4
                        c1.8-0.3,5.1-0.7,7.1-0.8c3.5-0.2,15.8,0,15.8,0c0.8,0,1.6-0.8,1.6-1.6C80,39.2,79.2,38.4,78.4,38.4C78.4,38.4,78.4,38.4,78.4,38.4z
                        "/>
                    </svg>
                  </div>
                </div>
                <div class="marquee__item one-line item-regular text">
                  <p class="marquee__text">What I Can Do</p>
                  <div class="marquee__image">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80" fill="currentColor">
                      <path fill="currentColor" d="M78.4,38.4c0,0-11.8,0-15.8,0c-1.6,0-4.8-0.2-7.1-0.8c-2.3-0.6-4.3-0.8-6.3-2.4c-2-1.2-3.5-3.2-4.7-4.8
                        c-1.2-1.6-1.6-3.6-2-5.5c-0.3-1.5-0.7-4.3-0.8-5.9c-0.2-4.3,0-17.4,0-17.4C41.8,0.8,41,0,40.2,0s-1.6,0.8-1.6,1.6c0,0,0,13.1,0,17.4
                        c0,1.6-0.6,4.3-0.8,5.9c-0.3,2-0.8,4-2,5.5c-1.2,2-2.8,3.6-4.7,4.8s-4,1.8-6.3,2.4c-1.9,0.5-4.7,0.6-6.7,0.8c-3.9,0.4-16.6,0-16.6,0
                        C0.8,38.4,0,39.2,0,40c0,0.8,0.8,1.6,1.6,1.6c0,0,12.2,0,16.6,0c1.6,0,4.8,0.3,6.7,0.8c2.3,0.6,4.3,0.8,6.3,2.4
                        c1.6,1.2,3.2,2.8,4.3,4.4c1.2,2,2.1,3.9,2.4,6.3c0.2,1.7,0.7,4.7,0.8,6.7c0.2,4,0,16.2,0,16.2c0,0.8,0.8,1.6,1.6,1.6
                        s1.6-0.8,1.6-1.6c0,0,0-12.3,0-16.2c0-1.6,0.5-5.1,0.8-6.7c0.5-2.3,0.8-4.4,2.4-6.3c1.2-1.6,2.8-3.2,4.3-4.4c2-1.2,3.9-2,6.3-2.4
                        c1.8-0.3,5.1-0.7,7.1-0.8c3.5-0.2,15.8,0,15.8,0c0.8,0,1.6-0.8,1.6-1.6C80,39.2,79.2,38.4,78.4,38.4C78.4,38.4,78.4,38.4,78.4,38.4z
                        "/>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ss-mxd-section padding-stacked-section">
        <div class="ss-mxd-container grid-container">
          <div class="ss-mxd-block ss-mxd-grid-item no-margin">
            <div class="content__block">
              <div class="stack-wrapper">
                <div class="stack-offset"></div>
                <div class="services-stack">
                  <div class="stack-item">
                    <div class="ss-mxd-services-stack__inner justify-between bg-base-opp">
                      <div class="ss-mxd-services-stack__title width-60">
                        <h3 class="opposite">Frontend <br> Development</h3>
                      </div>
                      <div class="ss-mxd-services-stack__info width-60">
                        <div class="ss-mxd-services-cards__tags">
                          <span class="tag tag-default tag-outline-opposite">React/Vue/Angular</span>
                          <span class="tag tag-default tag-outline-opposite">TypeScript</span>
                          <span class="tag tag-default tag-outline-opposite">UI/UX Principles</span>
                          <span class="tag tag-default tag-outline-opposite">Responsive Design</span>
                        </div>
                        <p class="t-opposite">I build intuitive, responsive, and pixel-perfect user interfaces using modern JavaScript frameworks. I am passionate about translating design concepts into fluid, engaging, and accessible web experiences that users love to interact with.
                        </p>
                      </div>
                      <div class="services-stack__image">
                        <img class="service-img service-img-s" src="img/services/800x800_ser-01.webp" alt="Service/Feature Image">
                        <img class="service-img service-img-m" src="img/services/1000x1000_ser-01.webp" alt="Service/Feature Image">
                      </div>
                    </div>
                  </div>
                  <div class="stack-item">
                    <div class="ss-mxd-services-stack__inner justify-between bg-accent">
                      <div class="ss-mxd-services-stack__title width-60">
                        <h3 class="opposite">Backend & <br>API Development</h3>
                      </div>
                      <div class="ss-mxd-services-stack__info width-60">
                        <div class="ss-mxd-services-cards__tags">
                          <span class="tag tag-default tag-outline-opposite">REST APIs</span>
                          <span class="tag tag-default tag-outline-opposite">Microservices</span>
                          <span class="tag tag-default tag-outline-opposite">Databases</span>
                          <span class="tag tag-default tag-outline-opposite">Authentication</span>
                        </div>
                        <p class="t-opposite">I engineer robust and scalable server-side applications. My focus is on creating clean, high-performance APIs that power digital experiences, ensuring seamless data flow and reliable business logic execution.
                        </p>
                      </div>
                      <div class="services-stack__image">
                        <img class="service-img service-img-s" src="img/services/800x800_ser-02.webp" alt="Service/Feature Image">
                        <img class="service-img service-img-m" src="img/services/1000x1000_ser-02.webp" alt="Service/Feature Image">
                      </div>
                    </div>
                  </div>
                  <div class="stack-item">
                    <div class="ss-mxd-services-stack__inner radius-dark justify-between bg-base-tint">
                      <div class="ss-mxd-services-stack__title width-60">
                        <h3>Data Engineering & <br> Pipelines</h3>
                      </div>
                      <div class="ss-mxd-services-stack__info width-60">
                        <div class="ss-mxd-services-cards__tags">
                          <span class="tag tag-default tag-outline">ETL/ELT</span>
                          <span class="tag tag-default tag-outline">Data Warehousing</span>
                          <span class="tag tag-default tag-outline">Big Data</span>
                          <span class="tag tag-default tag-outline">Automation</span>
                        </div>
                        <p>I design and implement automated data pipelines to collect, process, and model data from disparate sources. I build reliable and efficient data infrastructure that transforms raw data into a valuable asset for analytics and decision-making.
                        </p>
                      </div>
                      <div class="services-stack__image">
                        <img class="service-img service-img-s" src="img/services/800x800_ser-03.webp" alt="Service/Feature Image">
                        <img class="service-img service-img-m" src="img/services/1000x1000_ser-03.webp" alt="Service/Feature Image">
                      </div>
                    </div>
                  </div>
                  <div class="stack-item">
                    <div class="ss-mxd-services-stack__inner justify-between bg-base-opp">
                      <div class="ss-mxd-services-stack__title width-60">
                        <h3 class="opposite">Cloud Architecture &  <br>DevOps</h3>
                      </div>
                      <div class="ss-mxd-services-stack__info width-60">
                        <div class="ss-mxd-services-cards__tags">
                          <span class="tag tag-default tag-outline-opposite">AWS/OpenShift/Azure</span>
                          <span class="tag tag-default tag-outline-opposite">CI/CD</span>
                          <span class="tag tag-default tag-outline-opposite">Docker</span>
                          <span class="tag tag-default tag-outline-opposite">Infrastructure as Code</span>
                          <span class="tag tag-default tag-outline-opposite">Kubernetes</span>
                        </div>
                        <p class="t-opposite">I architect and manage cloud-native infrastructure to ensure applications are deployed efficiently, securely, and with high availability. By leveraging CI/CD pipelines and IaC, I streamline the development lifecycle from code to production.
                        </p>
                      </div>
                      <div class="services-stack__image">
                        <img class="service-img service-img-s" src="img/services/800x800_ser-04.webp" alt="Service/Feature Image">
                        <img class="service-img service-img-m" src="img/services/1000x1000_ser-04.webp" alt="Service/Feature Image">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ss-mxd-section padding-default">
        <div class="ss-mxd-container grid-container">
          <div class="ss-mxd-block">
            <div class="container-fluid px-0">
              <div class="row gx-0 d-xl-flex justify-content-xl-center">
                <div class="col-12 col-xl-8 ss-mxd-grid-item no-margin">
                  <div class="ss-mxd-block__content">
                    <div class="ss-mxd-block__manifest centered anim-uni-in-up">
                      <p class="ss-mxd-manifest ss-mxd-manifest-l reveal-type">I love building things for the internet and dream of making the world better through thoughtful design and code.</p>
                      <div class="ss-mxd-manifest__controls anim-uni-in-up">
                        <div class="ss-mxd-btngroup centered">
                          <a class="btn btn-anim btn-default btn-accent slide-right-up" href="/projects">
                          <span class="btn-caption">My Projects</span>
                          <i class="ph-bold ph-arrow-up-right"></i>
                          </a>
                          <a class="btn btn-anim btn-default btn-outline slide-down" target="_blank" href="<%= (contact && contact.resumeUrl) ? contact.resumeUrl : '#' %>">
                          <span class="btn-caption">View Resume</span>
                          <i class="ph-bold ph-arrow-up-right"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="ss-mxd-section overflow-hidden">
        <div class="ss-mxd-container">
          <div class="ss-mxd-block">
            <div class="ss-mxd-promo">
              <div class="ss-mxd-promo__inner anim-zoom-out-container">
                <div class="ss-mxd-promo__bg"></div>
                <div class="ss-mxd-promo__content">
                  <p class="ss-mxd-promo__title anim-uni-in-up">
                    <span class="ss-mxd-promo__icon">
                    <img src="img/icons/300x300_obj-cta-01.webp" alt="Icon">
                    </span>
                    <span class="ss-mxd-promo__caption reveal-type">Let's talk about your project!</span>
                  </p>
                  <div class="ss-mxd-promo__controls anim-uni-in-up">
                    <a class="btn btn-anim btn-default btn-large btn-additional slide-right-up" href="/contact">
                    <span class="btn-caption">Contact Me</span>
                    <i class="ph-bold ph-arrow-up-right"></i>
                    </a>
                  </div>
                </div>
                <div class="ss-mxd-promo__images">
                  <img class="promo-image promo-image-1" src="img/illustrations/cta-img-01.webp" alt="Image">
                  <img class="promo-image promo-image-2" src="img/illustrations/cta-img-02.webp" alt="Image">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <%- include('partials/footer') %>

    <a href="#0" id="to-top" class="btn btn-to-top slide-up anim-no-delay">
        <i class="ph ph-arrow-up"></i>
    </a>

    <script src="js/libs.min.js"></script>
    <script src="js/app.min.js"></script>
    
    <script>
      const statsCounter1 = new countUp.CountUp("stats-counter-1", 3, optionsPlus);
      const statsCounter2 = new countUp.CountUp("stats-counter-2", 22, optionsPlus);
      statsCounter1.start();
      statsCounter2.start();
    </script>
  </body>
</html>