<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- SEO -->
        <meta name="description"
            content="Soham_Sahare, sohamsahare, soham_sahare, Soham_sahare, Soham Sahare, soham sahare, Soham sahare, Projects, contact, DSA, dsa, projects, Projects, project, Project" />
        <meta name="og:title" content="Soham Sahare" />
        <meta name="og:description" content="Soham Sahare" />
        <meta name="og:type" content="website" />
        <meta name="og:image" content="https://sohamsahare.vercel.app/assets/images/favicon.png" />
        <meta name="og:url" content="https://sohamsahare.vercel.app/" />
        <meta name="image" property="og:image" content="https://sohamsahare.vercel.app/assets/images/favicon.png" />

        <!-- FAVICON -->
        <link rel="shortcut icon" href="../assets/images/favicon.png">

        <!-- FONT -->
        <link rel='dns-prefetch' href='http://fonts.googleapis.com/' />
        <link rel='stylesheet'
            href='https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&amp;display=swap'
            type='text/css' />

        <!-- DEFAULT CSS -->
        <link rel='stylesheet' href='../assets/css/helper.css' type='text/css' />

        <!-- CUSTOM CSS -->
        <link rel='stylesheet' href='../assets/css/style-light.css' type='text/css' />
        <link rel='stylesheet' href='../assets/css/style.css' type='text/css' />


        <title><%- new_data['name'] %>- Soham Sahare</title>

    </head>

    <body
        class="home page-template page-template-page-templates page-template-home-page page-template-page-templateshome-page-php page page-id-47 elementor-default elementor-kit-6">
        <!-- < NAVIGATION WITH BACKGROUND COLOR NAVBAR >............................................ -->
        <!-- removed navbar-toggleable-md because responsive issues. Find out why ..... -->
        <!-- start page-wrapper -->
        <!-- PRELOADER -->
        <div class="preloader-bg"></div>
        <div id="preloader">
            <div id="preloader-status">
                <div class="preloader-position loader"> <span></span> </div>
            </div>
        </div>
        <!-- Cursor -->
        <div class="cursor js-cursor"></div>
        <!-- Menu -->
        <nav class="sohamsahare-menu" id="sohamsahare-navbar-spy">
            <div class="sohamsahare-menu-inner" id="sohamsahare-navbar">
                <ul class="list-unstyled " id="mobile-menu-active">
                    <li id="menu-item-93"
                        class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home nav-item menu-item-93 active">
                        <a title="Home" class=" nav-link" href="/">Home</a>
                    </li>
                    <li id="menu-item-94"
                        class="menu-item menu-item-type-post_type menu-item-object-page nav-item menu-item-94"><a
                            title="About" class=" nav-link" href="/about">About</a></li>

                    <li id="menu-item-96"
                        class="menu-item menu-item-type-post_type menu-item-object-page nav-item menu-item-96"><a
                            title="Projects" class=" nav-link" href="/projects">Projects</a></li>
                    <li id="menu-item-103"
                        class="menu-item menu-item-type-post_type menu-item-object-page nav-item menu-item-103"><a
                            title="Blog" class=" nav-link" href="/blogs">Blogs</a></li>
                    <li id="menu-item-95"
                        class="menu-item menu-item-type-post_type menu-item-object-page nav-item menu-item-95"><a
                            title="Contact" class=" nav-link" href="/contact">Contact</a></li>
                </ul>
            </div>
        </nav>
        <!-- Header -->
        <header class="sohamsahare-header">
            <div class="container">
                <div class="row align-items-center">
                    <!-- Logo -->
                    <div class="col-8 col-md-8">
                        <div class="logo-wrap">
                            <a href="/" class="logo">
                                <h1 style="color: black">SOHAM</h1>
                            </a>
                        </div>
                    </div>

                    <!-- Menu Burger -->
                    <div class="col-4 col-md-4 text-right sohamsahare-menu-burger-wrap"> <a href="#"
                            class="sohamsahare-nav-toggle sohamsahare-js-nav-toggle"><i></i></a> </div>
                </div>
            </div>
        </header>
        <section class="section-padding portfolio-page" style=" padding-top: 50px;">
            <div class="container">
                <h1 class="wow" style="text-align: center;" data-splitting>
                    <%= new_data['name'] %>
                </h1>

                <div class="row">
                    <div class="col-md-5">
                        <!-- Images -->
                        <div class="row mt-45">
                            <div class="col-md-12 gallery-item">
                                <div class="owl-carousel owl-theme text-center">
                                    <% for (var i=0; i < new_data['images'].length; i++ ) { %>
                                        <div class="item">
                                            <div class="gallery-item">
                                                <a href="../assets/images/projects/<%= new_data['images'][i] %>"
                                                    class="img-zoom">
                                                    <div class="gallery-box">
                                                        <div class="gallery-img">
                                                            <img src="../assets/images/projects/<%= new_data['images'][i] %>"
                                                                class="img-fluid mx-auto d-block">
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <% } %>


                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 offset-md-1">
                        <%- new_data['description'] %>
                    </div>
                </div>
            </div>
        </section>
        <!-- Next & Prev -->
        <section class="nex-prv">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 rest">
                        <div class="prv">
                            <a href="#">
                                <div class="img bg-img">
                                    <div class="text-right ontop">
                                        <h5 style="text-align: center;">PREVIOUS</h5>
                                        <span class="sub-title mb-0 mt-10"
                                            style="display: flex; align-items: center; justify-content: center;">
                                            Previous Project</span>
                                    </div>
                                    <div class="overly"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2 text-center rest"> <a href="/projects"
                            class="all-works d-flex align-items-center"> <span
                                class="icon full-width ti-layout-grid3"></span> </a>
                    </div>
                    <div class="col-md-5 rest">
                        <div class="nxt">
                            <a href="#">
                                <div class="img bg-img">
                                    <div class="text-right ontop">
                                        <h5 style="text-align: center;">NEXT</h5>
                                        <span class="sub-title mb-0 mt-10"
                                            style="display: flex; align-items: center; justify-content: center;">
                                            Next Project</span>
                                    </div>
                                    <div class="overly"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>




        <footer class="sohamsahare-footer-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h5>Get in touch</h5>
                        <a href="mailto:sohamsahare123@gmail.com">
                            <p>sohamsahare123@gmail.com</p>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <h5>Location</h5>
                        <p>Pune, India</p>
                    </div>
                    <div class="col-md-4">
                        <ul class="sohamsahare-footer-social-link">
                            <li><a href="https://github.com/sohamsahare123" target="_blank"><i
                                        class="ti-github"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/sohamsahare/" target="_blank"><i
                                        class="ti-linkedin"></i></a></li>
                            <li><a href="https://www.facebook.com/soham.sahare.9/" target="_blank"><i
                                        class="ti-facebook"></i></a></li>
                            <li><a href="https://www.instagram.com/_soham.sahare/" target="_blank"><i
                                        class="ti-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <p style="text-align: center;">Made with ❤️ by <a href="/contact">Soham Sahare</a></p>
                    </div>
                </div>
            </div>
        </footer>

        <!-- DEFAULT JS -->
        <script type='text/javascript' src='../assets/js/plugins/jquery-3.6.0.min.js'></script>
        <script type='text/javascript' src='../assets/js/plugins/owl.carousel.min.js'></script>
        <script type='text/javascript' src='../assets/js/plugins/jquery.magnific-popup.min.js'></script>
        <script type='text/javascript' src='../assets/js/plugins/jquery.easing.js'></script>
        <script type='text/javascript' src='../assets/js/plugins/smooth-scroll.min.js'></script>
        <script type='text/javascript' src='../assets/js/plugins/wow.js'></script>

        <!-- CUSTOM JS -->
        <script type='text/javascript' src='../assets/js/script.js'></script>

    </body>

</html>